@font-face {
  font-family: "Lexend-Regular";
  src: url('../fonts/Lexend-Regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto') format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header styles start*/
.header {
  width: 100%;
  background: linear-gradient(255.02deg,
      rgba(129, 194, 212, 0.56) 5.93%,
      rgba(138, 199, 217, 0.56) 23.18%,
      rgba(155, 207, 224, 0.72) 43.47%,
      rgba(135, 198, 215, 0.49) 58.21%,
      rgba(102, 178, 201, 0.57) 73.36%,
      rgba(98, 177, 198, 0.51) 92.76%);
  padding-left: 120px;
  padding-top: 63px;
  margin-bottom: 80px;
}
.wrapper{
  max-width: 1260px;
  margin: 0 auto;
}

.header1 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 370px;
  margin-bottom: 55px;
  align-items: center;
}
.header_list{
  display: flex;
  flex-wrap: wrap;
}
.header_item{
  margin-right: 40px;
}
.header_item:last-child{
  margin-right: 0;
}
.header_link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: .8;
  text-decoration: underline;
}

.header_item {
  margin-right: 82px;
}

.header_item:last-child {
  margin-right: 0;
}

/*Lower half of header styles start */
.header2 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_text {
  max-height: 575px;
  max-width: 475px;
  margin-right: 39px;
}

.subtitleHeader {
  font-family: "Lexend-SemiBold", sans-serif;
  color: rgba(23, 31, 229, 1);
  font-size: 21px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.header_mainTitle {
  font-family: 'Lexend', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 73px;
  margin-bottom: 20px;
}

.description {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

.shop-btn {
  width: 216px;
  height: 54px;
  background: #ff7f45;
  color: white;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.7s all;
}

.arrow{
  vertical-align: middle;
  margin-left: 25px;
}

.shop-btn:hover,
.shop-btn:active {
  transform: translateY(-6px);
}

.header_img {
  max-width: 650px;
  height: auto;
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.2));
}

/* Header styles end*/



/* Block 1 styles start */
.container1{
  margin-bottom: 120px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transition: transform 0.3s;
  object-fit: cover;
}

.item_inactive{
  filter: brightness(60%);
}

.section1_item2{
  z-index: 1;
  margin-left: -27px;
}

.section1_item3 {
  margin-left: -27px;
}

.spher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.spher_grey1,
.spher_grey2,
.spher_grey3,
.spher_grey4,
.spher_orange {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.spher_grey1,
.spher_grey2,
.spher_grey3,
.spher_grey4 {
  background-color: #F1F1F1;
}

.spher_orange {
  background-color: #FF843F;
}

/* Block 1 styles end */


/* Block 2 styles start */
.container2{
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.container2_title {
  margin-bottom: 70px;
  font-family: 'Lexend', sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0%;
  font-style: normal;
  line-height: 120%;
}

.container2_gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 339px 339px;
  gap: 30px;
  justify-content: center;
}

.gallery_item1 {
  grid-row: 1/3;
}

.gallery_item2 {
  grid-row: 1/2;
  height: 339px;
}

.gallery_item3 {
  grid-row: 1/2;
}

.gallery_item4 {
  grid-row: 2/3;
}
/* Block 2 styles end */


/* Block 3 styles start */
.container3 {
  max-width: 1148px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.container3_title,
.container4_title {
  text-align: center;
  font-size: 44px;
  font-family: 'Lexend', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.container3_text{
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  max-width: 664px;
  margin: 20px auto 70px auto;
  text-align: center;
}

.products {
  width: 1148px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transition: transform 0.3s;
  object-fit: cover;
}

.products_item1 {
  transform: rotateY(22deg);
  width: 416.5px;
  height: 439px;
}

.products_item2 {
  transform: rotateY(22deg);
  z-index: 9;
  margin-left: -160px;
  width: 439.39px;
  height: 463.13px;
}

.products_item3 {
  z-index: 10;
  margin-left: -140px;
}

.products_item4 {
  transform: rotateY(-20deg);
  margin-left: -185px;
  z-index: 9;
  width: 416.5px;
  height: 459px;
}

.products_item5 {
  transform: rotateY(-20deg);
  margin-left: -240px;
  width: 416.5px;
  height: 439px;
}

/* Block 3 styles end */


/* Block 4 styles start */
.container4 {
  width: 1148px;
  margin: 0 auto;
  margin-bottom: 127px;
}

.container4_text {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.specialty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.specialty_item1,
.specialty_item2,
.specialty_item3 {
  width: 362px;
  height: 223px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: 0.6s ease;
}
.specialty_item1:hover,
.specialty_item2:hover,
.specialty_item3:hover{
  transform: scale(1.05);
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(23, 31, 229, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.icon1,
.icon2,
.icon3 {
  position: absolute;
  left: 14px;
  top: 14px;
  z-index: 2;
}

.item_title {
  font-family: 'Lexend', sans-serif;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.cardText {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  opacity: 0.7;
  margin-top: 10px;
  margin-left: 42px;
  margin-right: 42px;
}
/* Block 4 styles end */


/* Block 5 styles start */
.container5 {
  margin-bottom: 120px;
}
.container5_title{
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-family: 'Lexend', sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;
}

.brands {
  background-color: #F8FCFD;
  display: flex;
  justify-content: center;
  gap: 137px;
  height: 231px;
  align-items: center;
}
/* Block 5 styles end */


/* Block 6 styles start */
.container6{
  max-width: 1146px;
  margin: 0 auto;
}

.container6_title {
  margin-bottom: 70px;
  font-family: 'Lexend', sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;
}
.blog{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog_card{
  grid-column: span 1;
  margin-bottom: 112px;
  display: flex;
  flex-direction: column;
  transition: 0.6s ease;
}
.blog_card:hover{
  transform: scale(1.05);
}
.blog_card-pic{
  margin-bottom: 25px;
}
.blog_card-title{
  margin-left: 25px;
  margin-bottom: 10px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
}
.blog_card-desc{
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
  margin-left: 25px;
  margin-bottom: 20px;
}
.blog_footer{
  padding-left: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
  box-shadow: 0px 4px 8px rgba(4, 5, 34, 0.05);
  border-radius: 0px 0px 10px 10px;
}
.blog_card-more{
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #E56117;
  text-decoration: none;
}
.blog_card-more:hover,
.blog_card-more:active{
  color: #e56217d0;
}
.blog_card-data{
  font-family: 'Lexend';
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #040522;
}
/* Block 6 styles end */


/* Footer styles start */
.footer {
  background-color: #040522;
  padding: 70px 0;
}
.footer-wrapper{
  max-width: 1146px;
  margin: 0 auto;
}
.footer_item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer_logo {
  width: 50%;
}
.footer_logo-pic{
  margin-bottom: 25px;
}
.footer_text{
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
  max-width: 260px;
  margin-bottom: 25px;
}
.footer_logo-icon_link {
  margin-right: 12px;
}
.footer_logo-icon_link:hover{
  filter: drop-shadow(0.5px 0.5px rgba(255, 255, 255, 0.959));
}
.footer_nav {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.footer_menu-title {
  font-family: 'Lexend', sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  vertical-align: top;
  margin-bottom: 15px;
}

.footer_menu-link {
  font-family: 'Lexend', sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  opacity: 0.7;
}

.footer_menu-link:hover,
.footer_menu-link:active,
.footer_menu-link:focus {
  color: #E56117;
  opacity: 1;
}
/* Footer styles end */